<div class="banner">
  <h1>Salads</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    </div>
  </div>
</div>
<div class="main-container">
  <!-- <div class="cards"> -->
  <div class="row justify-content-around" >
    <% @cocktails.each do |cocktail| %>
      <div class="card">
        <%#= image_tag "#{cocktail.image}"%>
        <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
      </div>
    <% end %>
  </div>
  <!-- </div> -->
</div>
<%#=link_to "Add cocktail", new_cocktail_path%>
<!--
  <div class="d-inline-flex p-1">
    <li>
      <%#= link_to cocktail.name, cocktail_path(cocktail.id) %>
       <p><%#= link_to "Delete", cocktail_path(cocktail.id), method: :delete, data: {confirm: 'Are you sure?'} %></p>
    </li> -->