.navbar-custom {
  justify-content: space-between;
  background: #e0e2e3;
  transition: .5s background-color ease;
}

.navbar-custom-white {
  background-color: white;
  color: black;
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 40px;
}

.navbar-custom .formSearch {
  width: 300px;
  float: right;
  display: block;
  position: absolute;
  padding-top: 7px;
}
